.footer {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  background: $color-blue;
  padding-top: 25px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title;
    color: $color-white;
    margin-bottom: 25px;
  }

  div {
    display: flex;
    justify-content: center;
  }
}

.footer__contacts__form {
  display: flex;
  flex-direction: column;
  width: $width/3;

  input,
  textarea {
    width: $width/3;
    padding: 12px;
    outline: none;
    margin-top: 18px;
    border-radius: 5px;
  }

  textarea {
    height: 173px;
  }
}

.footer__contacts__form__buttton {
  width: $width/9;
  color: $color-blue;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 7px;
  margin-top: 18px;
  align-self: center;
}

.footer__contacts__link {
  flex-direction: column;
  margin-left: 49px;
}

.footer__contacts__link_url {
  flex-direction: column;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $color-white;
    margin-left: 7px;
    line-height: 50px;
  }
}

.footer__contacts__link_icons {
  margin-top: 47px;

  a:nth-child(n+2) {
    margin-left: 3px;
  }
}





.footer__copy {
  font-size: 12px;
  color: $color-blue;
  letter-spacing: 0.3px;
  display: flex;
  align-self: center;
  margin: 12px auto;
}