* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

$width: 1272px;
$color-white: #FFFFFF;
$color-blue: #445161;
$color-gray: #333333;
$color-black: #000000;
$background-gray: #F5F5F5;

@mixin title {
  font-size: 30px;
  color: $color-gray;
  margin: 0 auto;
  text-align: center;
}

@import "header";
@import "main";
@import "footer";